* {
    font-family: "Mattone Black";
    margin: 0;
    padding: 0;

    --color-font-blue: rgb(100, 165, 167);
    --color-font-pink: rgb(197, 134, 192);
    --color-font-magenta: rgb(221, 11, 107);
    --color-font-yellow: rgb(246, 208, 77);
    --color-font-orange: rgb(228, 116, 46);

    --color-background-periwinkle: rgb(191, 179, 251);

    cursor: default;
}

body {
    background-image: url("/images/index/PortfolioBG1.png"); 
    background-repeat: no-repeat; 
    background-position: top;
    background-attachment: fixed;       
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    width:100%;

    background-color: var(--color-background-periwinkle);

    transition: background-image 4s ease-in-out;

    overflow: hidden;
}

.page {
    display: grid;
    padding: 10px;
    margin: 10px;
    margin-top: 3vw;
    grid-template-columns: repeat(6, 18vw);
    grid-template-rows: repeat(3, 12vw);
    grid-template-areas:
    "nervous    nervous     nervous     nervous     .       ."
    "bird       bird        nav-title   nav-title   nav-title       ."
    "art        art         nav-buttons nav-buttons nav-buttons     .";
}

.title-nervous {
    grid-area: nervous;
    display: flex;
    flex-direction: row;
}

.title-bird {
    grid-area: bird;
    display: flex;
    flex-direction: row;
}

.title-art {
    grid-area: art;
    display: flex;
    flex-direction: row;
}

.a:hover {
    color: var(--color-font-magenta);
    transform: translateY(8%);

    transition: transform .2s ease-in-out;
}

.b:hover {
    color: var(--color-font-pink);
    transform: translateY(8%);

    transition: transform .2s ease-in-out;
}

.c:hover {
    color: var(--color-font-orange);
    transform: translateY(8%);

    transition: transform .2s ease-in-out;
}

.a, .b, .c {
    transition: transform .2s ease-in-out;
}

.nav-buttons {
    grid-area: nav-buttons;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-columns: 0.2fr;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    margin-right: 2vw;
}

h1 {
    font-family: "Mattone Black";
    font-size: 10vw;
    text-transform: uppercase;
    margin-block-start: 20px;
    margin-block-end: 0px;
    color: var(--color-font-yellow);
    line-height: 10vw;
}

h2 {
    font-family: "Cubano";
    font-size: 8vw;
    color: var(--color-font-magenta);
    grid-area: nav-title;
    line-height: 0px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 2vw;
}

button {
    color: white;
    background-color: transparent;
    border: none;
    text-align: right;
    max-height: 100px;

    transition: margin-right .2s ease-in-out;
}

button:hover {
    color: var(--color-font-yellow);

    transition: margin-right .2s ease-in-out;
    animation: colorCycle 3s linear infinite 0s forwards;
}

.button-portfolio:hover {
    color: var(--color-font-orange);
    margin-right: 20px;

    transition: margin-right .2s ease-in-out;
}

.button-portfolio:target ~ #portfolio {
    opacity: 100;
}

.button-about:hover {
    color: var(--color-font-yellow);
    margin-right: 20px;

    transition: margin-right .2s ease-in-out;
}

.button-contact:hover {
    color: var(--color-font-magenta);
    margin-right: 20px;

    transition: margin-right .2s ease-in-out;
}

.button-portfolio {
    font-size: 1.7vw;
    font-family: "Cascadia Mono SemiBold";
}

.button-about {
    font-size: 1.9vw;
    font-family: "Bahnschrijft SemiLight";
    text-decoration: line-through; 
}

.button-contact {
    font-size: 1.6vw;
    font-family: "Mattone";
}

.nav-title {
    color: var(--color-font-magenta);

    transition: color 3s ease-in-out;
}

.nav-title:hover {
    color: var(--color-font-orange);
    animation: colorCycle 3s linear infinite 0s forwards;

    transition: color 3s ease-in-out;
}


/* PORTFOLIO PART */
.portfolio-page, .about-page, .contact-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    overflow: auto;
}

.title-portfolio, .title-about, .title-contact {
    display: flex;
    justify-content: center;
    font-family: "Mattone Black";
    font-size: 6vw;
    line-height: 10vw;
    height: 12vw;
    text-transform: uppercase;

    text-shadow: 10px 10px var(--color-font-magenta);
}

.portfolio-nav-buttons, .about-nav-buttons, .contact-nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 20vw;
    margin-left: 20vw;
    z-index: 1;
}

.portfolio-nav-buttons button, .about-nav-buttons button, .contact-nav-buttons button {
    font-size: 30px !important;
}

.portfolio-buttons {
    background-image: url("/images/portfolio/portfoliotitle_0.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 400px;
    max-height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;

    flex: 1;
    overflow: auto;
    gap: 2vw;

    font-size: 30px !important;

    animation: fadeIn 2s forwards;

    transition: background-image 0.3s ease-in-out;
}

. {
    color: var(--color-font-magenta);
    font-size: 2vw;
    justify-items: center;
    padding: 30px;
}

.portrait-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 40%;
}

.galleryImageArea {
    flex: 1;
    flex-basis: 100%;
}

.portrait-gallery img {
    object-fit: cover;
    width: 100%;
}

.galleryNav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    transform: translateY(30px);
}


/* ABOUT PAGE */
.about-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: top;
}

.about-title {
    background-image: url("/images/portfolio/portfoliotitle_3.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 400px;
    max-height: 500px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;

    flex: 1;
    overflow: auto;
    gap: 2vw;

    font-size: 2vw;
    color: var(--color-font-magenta);

    animation: fadeIn 2s forwards;
}

.about-blurb {
    align-content: center;
    margin: 30px;

    font-family: "Cascadia Mono SemiBold";
    font-size: 1.2vw;
}

/* CONTACT PAGE */
.contact-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    align-items: top;
}

.contact-blurb {
    align-content: center;
    text-wrap: wrap;

    color: var(--color-font-magenta);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    flex-basis: 30%;

    color: white;
}

.contactForm-title {
    background-image: url("/images/portfolio/portfoliotitle_2.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 400px;
    max-height: 500px;

    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;

    flex: 1;
    overflow: auto;
    gap: 2vw;

    color: var(--color-font-magenta);

    animation: fadeIn 2s forwards;
}

.formGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
        
    margin-right: 10vw;
    margin-left: 10vw;

    padding: 10px;
}

.formGroup-name {
    flex: 1;
    flex-basis: 30%;
}
.formGroup-email {
    flex: 1;
    flex-basis: 40%;
}
.formGroup-about {
    flex: 1;
    flex-basis: 100%;
}
.formGroup-message {
    flex: 1;
    flex-basis: 30%;
}

.formGroup input {
    width: 100%;
}

.formGroup textarea {
    width: 100%;
}




@media only screen and (min-width: 1500px) {
    .portfolio-portfolio-button {
        font-size: 30px;
    }

    .portfolio-nav-buttons button, .about-nav-buttons button, .contact-nav-buttons button {
        font-size: 30px !important;
    }
}


/* TRANSITIONS and ANIMATIONS */

#bounce {
    animation: bounceUp 1.5s , fadeIn 1.5s forwards;
}

#nav {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

.nav-buttons {
    opacity: 0;
    animation: fadeIn 4s forwards;
}

.portfolio-nav-buttons {
    animation: fadeIn 2s forwards;
}
.about-nav-buttons {
    animation: fadeIn 2s forwards;
}
.contact-nav-buttons {
    animation: fadeIn 2s forwards;
}


@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes fadeOut {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes translateRL {
    from {translate: 100px;}
    to {translate: 0px;}
}

@keyframes translateLR {
    from {translate: -100px;}
    to {translate: 0px;}
}

@keyframes colorCycle {
    0% {
        color: var(--color-font-yellow);
    }
    25% {
        color: var(--color-font-blue);
    }
    59% {
        color: var(--color-font-orange);
    }
    75% {
        color: var(--color-font-magenta);
    }
    100% {
        color: var(--color-font-yellow);
    }
}

@keyframes bounceUp {
    0% {
        transform: translateY(60%);
    }
    20% {
        transform: translateY(-30%);
    }
    40% {
        transform: translateY(5%);
    }
    60% {
        transform: translateY(-4%);
    }
    80% {
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(0%);
    }
}


#title-1 {
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-2 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-3 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-4 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-5 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-6 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-7 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-8 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-9 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-10 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-11 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-12 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-13 { 
    opacity: 0%; 
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#title-14 { 
    opacity: 0%; 
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
}


#title-2 {
    animation-delay: .1s;
}
#title-3 {
    animation-delay: .2s;
}
#title-4 {
    animation-delay: .3s;
}
#title-5 {
    animation-delay: .4s;
}
#title-6 {
    animation-delay: .5s;
}
#title-7 {
    animation-delay: .6s;
}
#title-8 {
    animation-delay: .7s;
}
#title-9 {
    animation-delay: .8s;
}
#title-10 {
    animation-delay: .9s;
}
#title-11 {
    animation-delay: 1s;
}
#title-12 {
    animation-delay: 1.1s;
}
#title-13 {
    animation-delay: 1.2s;
}
#title-14 {
    animation-delay: 1.3s;
}


#portfolio-1 {
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-2 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-3 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-4 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-5 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-6 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-7 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-8 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#portfolio-9 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
}

#portfolio-2 {
    animation-delay: .1s;
}
#portfolio-3 {
    animation-delay: .2s;
}
#portfolio-4 {
    animation-delay: .3s;
}
#portfolio-5 {
    animation-delay: .4s;
}
#portfolio-6 {
    animation-delay: .5s;
}
#portfolio-7 {
    animation-delay: .6s;
}
#portfolio-8 {
    animation-delay: .7s;
}
#portfolio-9 {
    animation-delay: .8s;
}


#about-1 {
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#about-2 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#about-3 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#about-4 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#about-5 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 

#about-2 {
    animation-delay: .1s;
}
#about-3 {
    animation-delay: .2s;
}
#about-4 {
    animation-delay: .3s;
}
#about-5 {
    animation-delay: .4s;
}


#contact-1 {
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#contact-2 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#contact-3 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#contact-4 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#contact-5 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#contact-6 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 
#contact-7 { 
    opacity: 0%;
    animation: bounceUp 1.5s, fadeIn 1.5s forwards;
} 

#contact-2 {
    animation-delay: .1s;
}
#contact-3 {
    animation-delay: .2s;
}
#contact-4 {
    animation-delay: .3s;
}
#contact-5 {
    animation-delay: .4s;
}
#contact-6 {
    animation-delay: .5s;
}
#contact-7 {
    animation-delay: .6s;
}
